body {
    background-image: linear-gradient(#F375AA, #ffb9d3);
    background-attachment: fixed;
}

.box-canvas {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 8%;
    margin-bottom: 8%;
    width: 100px;
    height: 100px;
    top: 100px;
}

.heart {
    position:absolute;
    background-color: #F1273F;
    height: 200px;
    width: 200px;
    transform: rotate(-45deg);
    z-index: 1;
    transition: background-color 1s;
}

.heart::before,
.heart::after {
    width: 200px;
    height: 200px;
    position: absolute;
    transition: background-color 1s;
}

.heart::after {
    background-color: #F1273F;
    content: "";
    border-radius: 50%;
    left: 100px;
    z-index: 2;
}

.heart::before {
    content: "";
    background-color: #F1273F;
    border-radius: 50%;
    top: -100px;
}

.heart:hover,
.heart:hover::before,
.heart:hover::after {
    background-color: maroon;
}

.heart{
    margin: auto;
}